        <footer class="mt-auto text-center text-lg-start"  style="background-color: rgba(0, 0, 0, 0.15);">
            <div class="container p-2">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase" class="mb-md-0"><a class="text-dark" href="https://www.ssc-neufahrn.de/" target="_blank">SSC Neufahrn e.V.</a></h5>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 mb-md-0 float-end text-end">
                        <h5 class="text-uppercase" class="mb-md-0">Copyright &copy; 2022 <a class="text-dark" href="https://chrz.de" target="_blank">CHRZ.de</a></h5>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>