<!doctype html>
<html>

<head lang="de">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSCN Surfers Weekend</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="css/bootstrap-table-filter-control.min.css" rel="stylesheet" />
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="img/ssc_logo_header.png">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a7baff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.php">
                <img src="img/ssc_logo_header.png" width="30" height="30" alt="" class="d-inline-block align-top">
                Segel-Surf-Club Neufahrn e.V.
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation umschalten">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.php">Anmeldung</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list.php">Verwaltung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy.php">Datenschutz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/imprint.php">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="container mt-3 mb-3 bd-content">